<style>
  body {
    margin-left: 100px;
    margin-right: 100px;
  }

  div {
    display: inline-block;
    height: 50px;
    min-width: 50px;
    padding: 8px;
    margin-top: 10px;
  }

  p {
    text-align: center;
    font-size: 10px;
  }

  p.yep {
    font-size: xx-large;
    font-weight: bold;
    color: red;
  }

  body.group div.global {
    display: none;
  }

  body.global div.group {
    display: none;
  }

  footer {
    text-align: center;
  }
</style>

<script type="text/javascript">
  function setFromLocationHash() {
    switch (location.hash) {
      case '#group':
      case '#global':
        only(location.hash.substr(1));
        break;
      default:
        only('all');
    }
  }

  function only(type) {
    document.body.setAttribute('class', type);
  }

  window.addEventListener('hashchange', setFromLocationHash);
</script>

<ul>
  <li><a href="#group">Show Only Our Icons</a></li>
  <li><a href="#global">Show Only Hipchat's Icons</a></li>
  <li><a href="#all">All Icons</a></li>
</ul>

<% emoji.sort.each do |icon| %>
  <div class="<%= icon.type %>">
    <p>
      <img src="<%= icon.url %>" /><br />
      (<%= icon.short %>)
    </p>
  </div>
<% end %>

<script type="text/javascript">
  setFromLocationHash();
</script>

<footer>
  <p>
    Clear the cache:
    <code>
      curl -XDELETE <%= base_url %>
    </code>
  </p>
</footer>

<script>
function change(event) {
  var query = document.body.getAttribute('class');
  if (query === 'all') {
    query = '';
  } else {
    query = '.' + query;
  }

  var search = this.value + String.fromCharCode(event.which),
      elements = document.querySelectorAll('div' + query + ' p');

  [].forEach.call(elements, function (elt) {
    var found = elt.innerText.indexOf(search) > 0;

    elt.setAttribute('class', found ? 'yep' : '');
  });
}

var inputs = document.getElementsByTagName('input');

inputs[0].addEventListener('keypress', change);
</script>
