<style>
  body {
    margin-left: 100px;
    margin-right: 100px;
  }

  div {
    display: inline-block;
    height: 50px;
    min-width: 50px;
    padding: 8px;
    margin-top: 10px;
  }

  div.hit {
    zoom: 200%;
  }

  div.miss{
    display: none;
  }

  p {
    text-align: center;
    font-size: 10px;
  }

  body.group div.global {
    display: none;
  }

  body.global div.group {
    display: none;
  }

  footer {
    text-align: center;
  }

  label {
    display: block;
  }
</style>

<script type="text/javascript">
  function setFromLocationHash() {
    switch (location.hash) {
      case '#group':
      case '#global':
        only(location.hash.substr(1));
        break;
      default:
        only('all');
    }
  }

  function only(type) {
    document.body.setAttribute('class', type);
  }

  window.addEventListener('hashchange', setFromLocationHash);
</script>

<ul>
  <li><a href="#group">Show Only Our Icons</a></li>
  <li><a href="#global">Show Only Hipchat's Icons</a></li>
  <li><a href="#all">All Icons</a></li>
</ul>

<label>Find something: <input type="text"></label>

<% emoji.sort.each do |icon| %>
  <div class="<%= icon.type %>">
    <p>
      <img src="<%= icon.url %>" /><br />
      (<%= icon.short %>)
    </p>
  </div>
<% end %>

<script type="text/javascript">
  setFromLocationHash();
</script>

<footer>
  <p>
    Clear the cache:
    <code>
      curl -XDELETE <%= base_url %>
    </code>
  </p>
</footer>

<script>
function pruneHitsAndMisses() {
  var elements = document.getElementsByTagName('div.hit');

  [].forEach.call(elements, function (elt) {
    elt.classList.remove('hit');
  });

  var elements = document.getElementsByTagName('div.miss');
  [].forEach.call(elements, function (elt) {
    elt.classList.remove('miss');
  });
}

function triggerSearch() {
  pruneHitsAndMisses();

  var query = document.body.getAttribute('class');
  if (query === 'all') {
    query = '';
  } else {
    query = '.' + query;
  }

  var search = document.getElementsByTagName('input')[0].value,
      elements = document.querySelectorAll('div' + query + ' p');

  if (search) {
    [].forEach.call(elements, function (elt) {
      var found = elt.textContent.indexOf(search) >= 0,
          targetClassList = elt.parentNode.classList;

      targetClassList.add(found ? 'hit' : 'miss');
    });
  }
}

var inputs = document.getElementsByTagName('input');

inputs[0].addEventListener('keyup', triggerSearch);
window.addEventListener('hashchange', triggerSearch);

</script>
