<style>
  body {
    margin-left: 100px;
    margin-right: 100px;
  }

  div {
    display: inline-block;
    height: 50px;
    min-width: 50px;
    padding: 8px;
    margin-top: 10px;
  }

  p {
    text-align: center;
    font-size: 10px;
  }

  body.group div.global {
    display: none;
  }

  body.global div.group {
    display: none;
  }
</style>

<script type="text/javascript">
  function only(type) {
    document.body.setAttribute('class', type);
  }
</script>

<ul>
  <li><a href="javascript:only('group')">Show Only Our Icons</a></li>
  <li><a href="javascript:only('global')">Show Only Hipchat's Icons</a></li>
  <li><a href="javascript:only('all')">All Icons</a></li>
</ul>

<% emoji.sort.each do |icon| %>
  <div class="<%= icon.type %>">
    <p>
      <img src="<%= icon.url %>" /><br />
      (<%= icon.short %>)
    </p>
  </div>
<% end %>

